@font-face {
  font-family: Calibri;
  src: url("../Assets/calibri.ttf") format('woff');
  font-weight: 700;
  font-style: normal
}

body {
  display: flex;
  flex-flow: column;
  font-family: "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
  background-image: url("../Assets/bbdBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(3px);
  overflow-y: hidden;
}

button {
  border-radius: 6px;
  background-color: #e7eaee;
  color: #64748B;
  border: none;
  padding: 1em 0;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  font-family: "Calibri", sans-serif;
}

nav {
  display: inherit;
  text-align: center;
  position: sticky;
  justify-content: center;
  align-items: start;
  background-color: var(--bbd-primary-color);
  width: 100vw;
  color: var(--font-color);
  font-family: NordiquePro, sans-serif;
  height: min-content;
  flex-flow: column;
}

nav h1 {
  width: 100vw;
}

nav h1 a {
  text-align: center;
  margin: 1.5vh;
  width: 100vw;
}

.navigationCenter {
  display: inherit;
  flex-wrap: wrap-reverse;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2.5cqh 0 1cqh;
}

.informationCenter {
  display: inherit;
  flex-flow: column;
  padding-left: 3vw;
  max-width: 50vw;
}

.actionCenter {
  width: 100vw;
  height: max-content;
  padding: 1.5vh 0;
  display: inherit;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
}

.add {
  box-sizing: border-box;
  max-width: 130px;
  width: 30%;
  border: 3px solid var(--bbd-secondary-color);
  color: var(--bbd-secondary-color);
  background-color: transparent;
}

.add:hover {
  background-color: var(--bbd-secondary-color);
  border-color: white;
  color: white;
}

.addIcon {
  margin-right: 1cqw;
}

.filterButton {
  border: 2px solid var(--bbd-tertiary-color);
  background-color: transparent;
  min-width: 62%;
}

.filterButton:hover {
  background-color: var(--bbd-tertiary-color);
  color: black;
  border-color: black;
}

.filterButton,
.add {
  display: inherit;
  align-items: center;
  justify-content: center;

}

.gridOfUsers {
  display: grid;
  padding: 3%;
  overflow-y: auto;
  height: max-content;
  max-height: 70vh;
}

table {
  border-collapse: collapse;
  padding-left: 3vw;
}

tr {
  height: 6.5cqh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.248);
}

thead {
  height: 4cqh;
  color: rgb(0, 0, 0);
}

.status {
  max-width: 100px;
  max-height: 3cqh;
  padding: 8px;
  text-align: center;
  box-sizing: content-box;
  border: none;
}

.viewUniversity,
.filterBy,
#tempLinkSubmit,
fundAllocation {
  transition: 400ms;
  width: 12cqw;
  max-width: 80px;
  max-height: 3cqh;
  padding: 8px;
  text-align: center;
  box-sizing: content-box;
}

.viewUniversity:enabled:hover,
.filterBy:hover,
#tempLinkSubmit:hover {
  background-color: rgba(0, 0, 0, 0.273);
  border-color: #eeeae7;
  color: white;
}

td>button {
  padding: 1cqw 1cqh;
  border: 2px solid #9facbd;
}

td>button:disabled {
  background-color: rgba(53, 52, 49, 0.067);
  border: none;
}

.info {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  height: 0vw;
  width: 50cqw;
  transition: 900ms;
  border: 1px solid rgba(0, 0, 0, 0.163);
  opacity: 0;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(13px);
}

select {
  height: 25px;
}


.userData {
  color: rgb(29, 29, 29);
}

.userData::placeholder,
select {
  margin: 3px;
  color: rgb(29, 29, 29);
  text-align: center;
}

.formInput,
select {
  max-width: 380px;
  width: 40cqw;
}

.dataModButtons {
  margin-top: 6cqh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80cqw;
}

.dataModButtons button {
  width: 25cqw;
}

.updateData {
  background-color: #23c68b;
}

.deleteData {
  background-color: #ea3a4b;
}
.downloadID,
.createLink,
.downloadAcademic,
.payUniversity,
.updateData,
.deleteData,
.downloadFile {
  color: white;
}

.downloadFile, .payUniversity,
.downloadID,
.createLink,
.downloadAcademic {
  background-color: #a0a2be;
}