:root {
    --bbd-primary-color: #C80B0E;
    --bbd-secondary-color: #F5474A;
    --general-box-shadow: 0 8px 32px 0 rgba(10, 12, 38, 0.37);
    --font-color: rgba(0, 0, 0, 0.916);
    --active: #91737391;
    --back-drop: blur(13px);
    --main-border-radius: 17px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
  
  form {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    width: 70vw;
    box-sizing: border-box;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  main {
    height: 100vh;
    width: 101vw;
    margin: none;
    padding: none;
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  section {
    margin-bottom: 10px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .main-container a {
    text-decoration: none;
  }
  
  input[type="number"],
  input[type="date"],
  input[type="text"]{
    height: 4cqh;
    margin: 1vh auto;
    background-color: rgba(255, 255, 255, 0.134);
    border: 2px solid rgba(135, 135, 135, 0.656);
    border-radius: 15px;
    padding-left: 3%;
    color: black;
    font: inherit;
  }
  
   #submitLogIn {
    background-color: #949698;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
  }
  
  #submitLogIn {
    margin-top: 1cqh;
    border: 2px solid white;
    color: var(--font-color);
    font: inherit;
  }
  
  #submitLogIn:hover {
    border-color: rgba(255, 255, 255, 0.219);
    background-color: var(--active);
    box-shadow: none;
    border-width: 3px;
    color: black;
  } 
  
  section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    width: 100%;
  }
  
  #departmentID, #universityID, #genderID, #ethnicityID, #userID{
    height: 4cqh;
    margin: 1vh auto;
    background-color: rgba(255, 255, 255, 0.134);
    border: 2px solid rgba(135, 135, 135, 0.656);
    border-radius: 15px;
    padding-left: 4%;
    color: black;
    font: inherit;
  }

  
  @media (max-width: 768px) {
    form {
      padding: 10px;
    }
  
    section {
      margin-bottom: 15px;
    }
  
    label {
      margin-bottom: 3px;
    }
  
    input[type="number"],
    input[type="date"],
    input[type="text"]{
      padding: 8px;
    }
  
    #submitLogIn {
      padding: 8px 15px;
    }
  }