:root {
  --bbd-primary-color: #C80B0E;
  --bbd-secondary-color: #F5474A;
  --general-box-shadow: 0 8px 32px 0 rgba(10, 12, 38, 0.173);
  --font-color: rgba(255, 244, 244, 0.916);
  --active: #fff1f1;
  --back-drop: blur(4px);
  --main-border-radius: 17px;
  --bbd-tertiary-color: #d0d5dd;
}

@font-face {
  font-family: 'NordiquePro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../Assets/FontsFree-Net-Nordique-Pro-Bold.ttf') format('woff2');
}

body {
  padding: 0;
  margin: 0;
}

.mainLogIn {
  height: 100vh;
  width: 100vw;
  margin: none;
  padding: none;
  background-image: url("../Assets/formBackground.jpg");
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  font-family: NordiquePro, sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  font-style: normal;
}

#logInForm {
  height: 60vh;
  width: 80vw;
  max-width: 400px;
  flex-flow: column;
  background: rgba(255, 255, 255, 0.132);
  border-radius: var(--main-border-radius);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--font-color);
}

.mainLogIn,
#logInForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#logInForm:hover {
  transition: 500ms;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.381);
}

.formInput,
#submitLogIn {
  width: 80%;
  display: inherit;
  flex-flow: column;
  margin: 1vh auto;
  background: rgba(255, 255, 255, 0.219);
  border-radius: var(--main-border-radius);
  padding: 10px;
}

.formInput,
#submitLogIn,
#logInForm {
  border: 1px solid rgba(0, 0, 0, 0.349);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
}

#submitLogIn {
  margin-top: 5cqh;
  border: 2px solid white;
  color: black;
  font: inherit;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.219);
  background-color: var(--active);
}

#googleLogo {
  margin-right: 3cqw;
}

#submitLogIn:hover {
  scale: 1.01;
  box-shadow: none;
  border-width: 3px;
  color: black;
}

#submitLogIn>p {
  font-family: "Calibri", sans-serif;
}

input {
  height: 6cqh;
  margin: 1vh auto;
  background-color: rgba(240, 248, 255, 0.308);
  border: none;
  border-radius: 15px;
  padding-left: 3%;
  color: var(--font-color);
  font: inherit;
}

input:focus {
  border: 1px solid var(--active);
  outline: none;
}

label,
input {
  width: 90%;
}

h1 {
  margin-top: 0;
}

h1 a {
  text-decoration: none;
  color: white;
}

.errorPage {
  font-size: 2rem;
  font-family: NordiquePro, sans-serif;
  font-weight: 700;
  color: white;
}

#burger {
  position: absolute;
  right: 3.5vw;
  top: 4cqh;
}

.navigation {
  opacity: 0;
  transition: 900ms;
  display: none;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 0vh;
  background-color: var(--bbd-primary-color);
  background-image: url("../Assets/bbdBackground.png");

  background-blend-mode: color-burn;
}

.navigation a {
  text-decoration: none;
  color: white;
}