:root {
  --bbd-primary-color: #C80B0E;
  --bbd-secondary-color: #F5474A;
  --general-box-shadow: 0 8px 32px 0 rgba(10, 12, 38, 0.173);
  --font-color: rgba(255, 244, 244, 0.916);
  --active: #fff1f1;
  --back-drop: blur(4px);
  --main-border-radius: 17px;
  --bbd-tertiary-color: #d0d5dd;
}

@font-face {
  font-family: 'NordiquePro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../Assets/FontsFree-Net-Nordique-Pro-Bold.ttf') format('woff2');
}

body {
  padding: 0;
  margin: 0;
}

.mainLogIn,
.tempLink {
  height: 100vh;
  width: 100vw;
  margin: none;
  padding: none;
  background-image: url("../Assets/formBackground.jpg");
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  font-family: NordiquePro, sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  font-style: normal;
}

#logInForm,
#tempLinkForm {
  height: 60vh;
  width: 80vw;
  max-width: 400px;
  flex-flow: column;
  background: rgba(255, 255, 255, 0.132);
  border-radius: var(--main-border-radius);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--font-color);
}

.mainLogIn,
#logInForm,
#tempLinkForm,
.tempLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#logInForm:hover,
#tempLinkForm:hover {
  transition: 500ms;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.381);
}

.formInput,
#submitLogIn {
  width: 80%;
  min-width: 200px;
  display: inherit;
  flex-flow: column;
  margin: 1vh auto;
  background: rgba(255, 255, 255, 0.219);
  border-radius: var(--main-border-radius);
  padding: 10px;
}

.formInput,
#submitLogIn,
#logInForm,
#tempLinkForm {
  border: 1px solid rgba(0, 0, 0, 0.349);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
}

#submitLogIn {
  margin-top: 5cqh;
  border: 2px solid white;
  color: black;
  font: inherit;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.219);
  background-color: var(--active);
  font-family: sans-serif;
}

#googleLogo {
  margin-right: 3cqw;
}

#submitLogIn:hover {
  scale: 1.01;
  box-shadow: none;
  border-width: 3px;
  color: black;
}

#submitLogIn>p {
  font-family: "Calibri", sans-serif;
}


h1 {
  margin-top: 0;
}

h1 a {
  text-decoration: none;
  color: white;
}



.errorPage {
  font-size: 2rem;
  font-family: NordiquePro, sans-serif;
  font-weight: 700;
  color: white;
}

#burger {
  position: absolute;
  right: 3.5vw;
  top: 4cqh;
}

.navigation {
  opacity: 0;
  transition: 400ms;
  display: none;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  height: 0vh;
  background-color: rgb(62, 61, 61);
  background-image: url("../Assets/bbdBackground.png");
  gap: 1rem;
  background-blend-mode: color-burn;
}

.navigation a {
  text-decoration: none;
  color: rgb(249, 249, 249);
}

.navigation a:hover{
    color: #b66666;
}

.addApplication {
  width: 100vw;
  padding: 3vh 20vw;
  overflow-y: auto;
  height: 88vh;
  /* display: grid;
  align-items: center;
  justify-content: center;  
  margin-left: 10%; */
}

#home {
  min-height: 30vh;
  min-width: 100vw;
  margin: 0;
  border: none;
  padding: 0;
  text-wrap: wrap;
  text-align: center;
}

.current {
  font-size: 2rem;
}

.total {
  color: #000000a4;
}

.filterSection {
  opacity: 0;
  transition: 400ms;
  display: none;
  width: 100vw;
  height: 0vh;
  align-items: center;
  justify-content: space-around;
}

.loadingScreen {
  height: 0vh;
  opacity: 0;
  display: none;
}

.universalInput,
.universalSelect {
  height: 6cqh;
  background-color: rgba(255, 240, 240, 0.132);
  border-radius: 15px;
  padding-left: 3%;
  color: black;
  font: inherit;
  width: 25vw;
  min-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.649);
}

.universalInput:focus,
.universalSelect {
  border: 1px solid black;
  outline: none;
}

.main-container a {
  text-decoration: none;
}

.main-container {
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
}

.container {
  max-width: 800px; 
  height:auto;
  align-items: center;
  min-width: 250px;
  margin-bottom: 8%;
  padding: 20px; /* Add padding to the container */
  box-sizing: border-box; 
  width: 40vw;
  border: 1px solid rgba(0, 0, 0, 0.349);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
  box-shadow: var(--general-box-shadow);
  backdrop-filter: var(--back-drop);
  -webkit-backdrop-filter: var(--back-drop);
  border-radius: var(--main-border-radius);

}


.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  aspect-ratio: 1;
  height: 28cqh;
  border: 1px solid rgba(0, 0, 0, 0.625);
  border-radius: 5px;
  text-align: center;
  padding: 2cqw;
  margin: 2vw;
  background-color: #d0cccc55;
}

.tile p {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 1vh;
}

.tile-title {
  color: #333;
  text-align: center;
  margin-top: 3.5vh;
  margin-bottom: 0;
}

.dropDownForm {
  max-width: 90%;
}

<<<<<<< HEAD
.uniLink:hover {
  background-color: #33333323;
  cursor: pointer;
=======
#logout{
  border: none;
  background-color: #c1bbbb9d;
  color: white;
  padding: 4px 6px;
}

.documentInput {
  color: white;
  font-family: sans-serif;
>>>>>>> 5a5f899c45cf9228f915ac12126352431dd36f21
}